%div.container
  .people.row
    %h2 People List

  %br/

  .people.row
    = button_to 'Calculate Email Character Frequencies', frequency_people_path, method: :get, class: 'btn btn-primary'

  %br/

  .people.content.row
    %table.table.table-hover
      %thead
        %tr
          %th NAME
          %th EMAIL
          %th JOB TITLE
      %tbody
        - @people.each do |p|
          %tr
            %td="#{p['first_name']} #{p['last_name']}"
            %td="#{p['email_address']}"
            %td="#{p['title']}"

  = will_paginate @people, renderer: BootstrapPagination::Rails
